// Colours
$color_1: #efefef;
$color_2: #ffffff;
$color_3: #292929;
$background_color_1: #111111;
$background_color_2: #121212;
$background_color_3: #296d98;
$background_color_4: #3792cb;
$background_color_5: #ffffff;
$background_color_6: #efefef;
$background_color_7: #292929;
$border_color_1: 5px solid #296d98;

// Font
$font_family_1: 'Baloo 2', cursive;
